body {
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: blue;
  color: white;
  text-align: left;
  height: 3rem;
  font-size: larger;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.content {
  height: calc(100vh - 3rem);
}
